h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.location p {
  font-family: "Roboto";
}

.presentation {
  font-family: "Roboto";
  font-size: 17px;
}
.presentation p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
}

.functioning h2 {
  font-family: "Roboto";
}
.functioning p {
  font-family: "Roboto";
}
.functioning i {
  color: #585858;
}
.functioning__list--btn {
  background-color: #f1f1f1;
}
.functioning__list--btn span {
  color: white;
}

.restaurants h2 {
  font-family: "Roboto";
}
.restaurants__cards {
  font-family: "Roboto";
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards span {
  color: #2c7965;
}
.restaurants__card--content h3 {
  font-family: "Roboto";
  font-size: 17px;
}
.restaurants__card--content p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
  font-size: 16px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 15px;
  color: white;
}
footer .footer__choice {
  color: white;
  font-family: "Roboto";
  font-size: 12px;
}
footer .footer__list a {
  color: white;
}

/*Restaurant page*/
.restaurant__page .restaurant__main {
  background-color: #f1f1f1;
}
.restaurant__page .restaurant__main .head__restaurant {
  background-color: #f1f1f1;
}

.menu__list h4 {
  font-family: "Roboto";
  color: #585858;
  font-weight: lighter;
}
.menu__list .menu_cards--title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
.menu__list .menu_cards--subtitle .cards__subtitle {
  font-family: "Roboto";
  color: #585858;
  font-weight: normal;
  font-size: 15px;
}
.menu__list .menu_cards--subtitle .cards__price {
  color: black;
}

.presentation__btn {
  transition: 0.3s;
}

.presentation__btn:hover {
  transform: scale(1.2);
}

.functioning__list--btn {
  transition: transform 0.3s, background-color 0.3s;
}

.functioning__list--btn:hover {
  background-color: #f9f9f9;
  transform: scale(1.1);
}

.restaurants__card {
  transition: 0.3s;
}

.restaurants__card:hover {
  transform: scale(1.05);
}

.card__content--icon:hover {
  animation: fadeIn 0.2s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  animation: appear 1s forwards;
  opacity: 0;
}

.menu:nth-child(1) {
  animation-delay: 0s;
}

.menu:nth-child(2) {
  animation-delay: 1s;
}

.menu:nth-child(3) {
  animation-delay: 2s;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}