@import 'variables';

.presentation__btn {
    transition: 0.3s;
    opacity: 0.9;
}

.presentation__btn:hover {
    transform: scale(1.2);
    opacity: 1;
}

.functioning__list--btn {
    transition: transform 0.3s, background-color 0.3s;
}

.functioning__list--btn:hover {
    background-color: $bg-color2;
    transform: scale(1.1);
}

.restaurants__card {
    transition: 0.3s;
    transition: box-shadow 0.2s ease-in-out;
}

.restaurants__card:hover {
    transform: scale(1.05);
}

.card__content--icon:hover {
    animation: fadeIn 0.2s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.box {
    animation: appear 1s forwards;
    opacity: 0;
}

.first {
    animation-delay: 0.5s;
}

.second {
    animation-delay: 1s;
}

.third {
    animation-delay: 1.5s;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

.menu_cards:hover {
    margin-right: 7rem;
}

.menucheck {
    transition: transform 0.4s ease-in-out, width 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.menucheck:hover {
    opacity: 100%;
    width: 7rem;
}