h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.location p {
  font-family: "Roboto";
}

input::placeholder {
  color: black;
  font-family: "Roboto";
  font-size: 17px;
}

.presentation {
  font-family: "Roboto";
  font-size: 17px;
}
.presentation p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
}

.functioning h2 {
  font-family: "Roboto";
}
.functioning p {
  font-family: "Roboto";
}
.functioning i {
  color: #585858;
}
.functioning__list--btn {
  background-color: #f1f1f1;
}
.functioning__list--btn span {
  color: white;
}

.restaurants h2 {
  font-family: "Roboto";
}
.restaurants__cards {
  font-family: "Roboto";
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards span {
  color: #2c7965;
}
.restaurants__card--content h3 {
  font-family: "Roboto";
  font-size: 17px;
}
.restaurants__card--content p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
  font-size: 16px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
}
footer .footer__choice {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
}
footer .footer__list a {
  color: white;
}

/*Restaurant page*/
.restaurant__page .restaurant__main {
  background-color: #f1f1f1;
}
.restaurant__page .restaurant__main .head__restaurant {
  background-color: #f1f1f1;
}

.menu__list h3 {
  font-family: "Roboto";
  font-size: 17px;
  color: #585858;
  font-weight: lighter;
}
.menu__list .menu_cards--title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
.menu__list .menu_cards--subtitle .cards__subtitle {
  font-family: "Roboto";
  color: #585858;
  font-weight: normal;
  font-size: 15px;
}
.menu__list .menu_cards--subtitle .cards__price {
  color: black;
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.location p {
  font-family: "Roboto";
}

input::placeholder {
  color: black;
  font-family: "Roboto";
  font-size: 17px;
}

.presentation {
  font-family: "Roboto";
  font-size: 17px;
}
.presentation p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
}

.functioning h2 {
  font-family: "Roboto";
}
.functioning p {
  font-family: "Roboto";
}
.functioning i {
  color: #585858;
}
.functioning__list--btn {
  background-color: #f1f1f1;
}
.functioning__list--btn span {
  color: white;
}

.restaurants h2 {
  font-family: "Roboto";
}
.restaurants__cards {
  font-family: "Roboto";
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards span {
  color: #2c7965;
}
.restaurants__card--content h3 {
  font-family: "Roboto";
  font-size: 17px;
}
.restaurants__card--content p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
  font-size: 16px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
}
footer .footer__choice {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
}
footer .footer__list a {
  color: white;
}

/*Restaurant page*/
.restaurant__page .restaurant__main {
  background-color: #f1f1f1;
}
.restaurant__page .restaurant__main .head__restaurant {
  background-color: #f1f1f1;
}

.menu__list h3 {
  font-family: "Roboto";
  font-size: 17px;
  color: #585858;
  font-weight: lighter;
}
.menu__list .menu_cards--title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
.menu__list .menu_cards--subtitle .cards__subtitle {
  font-family: "Roboto";
  color: #585858;
  font-weight: normal;
  font-size: 15px;
}
.menu__list .menu_cards--subtitle .cards__price {
  color: black;
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.location p {
  font-family: "Roboto";
}

input::placeholder {
  color: black;
  font-family: "Roboto";
  font-size: 17px;
}

.presentation {
  font-family: "Roboto";
  font-size: 17px;
}
.presentation p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
}

.functioning h2 {
  font-family: "Roboto";
}
.functioning p {
  font-family: "Roboto";
}
.functioning i {
  color: #585858;
}
.functioning__list--btn {
  background-color: #f1f1f1;
}
.functioning__list--btn span {
  color: white;
}

.restaurants h2 {
  font-family: "Roboto";
}
.restaurants__cards {
  font-family: "Roboto";
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards span {
  color: #2c7965;
}
.restaurants__card--content h3 {
  font-family: "Roboto";
  font-size: 17px;
}
.restaurants__card--content p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
  font-size: 16px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
}
footer .footer__choice {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
}
footer .footer__list a {
  color: white;
}

/*Restaurant page*/
.restaurant__page .restaurant__main {
  background-color: #f1f1f1;
}
.restaurant__page .restaurant__main .head__restaurant {
  background-color: #f1f1f1;
}

.menu__list h3 {
  font-family: "Roboto";
  font-size: 17px;
  color: #585858;
  font-weight: lighter;
}
.menu__list .menu_cards--title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
.menu__list .menu_cards--subtitle .cards__subtitle {
  font-family: "Roboto";
  color: #585858;
  font-weight: normal;
  font-size: 15px;
}
.menu__list .menu_cards--subtitle .cards__price {
  color: black;
  font-family: "Roboto";
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeOut 0.5s 3.5s forwards;
}

.loader::before {
  font-size: 24px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
.loader__content {
  display: block;
  position: relative;
  height: 32px;
  width: 150px;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #9356DC;
  border-radius: 20px;
}

.loader__content:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FF79DA;
  animation: ballbns 3s ease-in-out infinite;
}

@keyframes ballbns {
  0% {
    left: 0;
    transform: translateX(0%);
  }
  49% {
    left: 100%;
    transform: translateX(-100%);
  }
  51% {
    left: 100%;
    transform: translateX(-100%);
  }
  100% {
    left: 0;
    transform: translateX(0%);
  }
}
.presentation__btn {
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.presentation__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.functioning__list--btn {
  transition: transform 0.3s, background-color 0.3s;
}

.functioning__list--btn:hover {
  background-color: #f9f9f9;
  transform: scale(1.1);
}

.restaurants__card {
  transition: 0.3s;
}

.restaurants__card:hover {
  transform: scale(1.05);
}

.fa-regular.fa-heart {
  opacity: 1;
  z-index: 2;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.fa-regular.fa-heart:active {
  opacity: 0;
}

.fa-solid.fa-heart {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 2;
  background: linear-gradient(360deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.fa-solid.fa-heart:hover {
  opacity: 1;
  transition: all 0.3s linear 0s;
}
.fa-solid.fa-heart:not(:hover) {
  opacity: 0;
  transition: all 0.6s linear 0s;
}

.box {
  animation: appear 1s forwards;
  opacity: 0;
}

.first {
  animation-delay: 0.5s;
}

.second {
  animation-delay: 1s;
}

.third {
  animation-delay: 1.5s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
.nav-bar__btn {
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.nav-bar__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

body {
  margin: 0px;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
}
@media (min-width: 1024px) {
  .header__logo {
    font-size: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__logo {
    font-size: 30px;
  }
}

.location {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  align-items: center;
  padding: 1rem 0rem;
}
.location .fa-location-dot {
  padding: 0rem 0.5rem;
}
.location__text {
  margin: 0rem;
}
.location input[type=text] {
  border: none;
  background-color: #f1f1f1;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f9f9f9;
  padding: 2rem 0rem;
}
.presentation h2 {
  margin: 0rem 0rem 0rem 0rem;
  width: 70%;
}
@media (min-width: 1024px) {
  .presentation h2 {
    font-size: 35px;
  }
}
.presentation p {
  margin: 1rem 2rem 1.5rem 2rem;
}
.presentation__btn {
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
}

.functioning {
  margin: 2rem 0rem;
}
@media (min-width: 1024px) {
  .functioning {
    margin: 2rem 3rem;
  }
}
.functioning .container__1 {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.functioning h2 {
  margin-left: 0.5rem;
}
@media (min-width: 1024px) {
  .functioning__list {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .functioning__list {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
  }
}
.functioning__list--btn {
  width: 90%;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
  align-items: center;
  border-radius: 30px;
  margin: 1rem 0rem;
  padding: 0.5rem 0rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1024px) {
  .functioning__list--btn {
    width: 25%;
    border-radius: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .functioning__list--btn {
    width: 25%;
  }
}
.functioning__list--btn span {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  transform: translateX(-50%);
}
.functioning__list--btn i {
  margin-right: 1rem;
}
.functioning__list--btn .fa-solid.fa-mobile-screen-button:hover {
  color: #9356DC;
}
.functioning__list--btn .fa-solid.fa-list:hover {
  color: #9356DC;
}
.functioning__list--btn .fa-sharp.fa-solid.fa-store:hover {
  color: #9356DC;
}

.restaurants {
  margin: 2rem 0rem;
  height: 50%;
}
@media (min-width: 1024px) {
  .restaurants {
    margin: 2rem 3rem;
  }
}
@media (min-width: 1024px) {
  .restaurants .container__2 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
.restaurants h2 {
  margin-left: 0.5rem;
}
.restaurants__cards {
  width: 100%;
}
@media (min-width: 1024px) {
  .restaurants__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants__cards {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
.restaurants__cards a {
  cursor: pointer;
}
@media (min-width: 1024px) {
  .restaurants__cards a {
    width: 45%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurants__cards a {
    width: 45%;
  }
}
.restaurants__cards a .restaurants__card {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 1rem;
  width: 90%;
  height: 250px;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
@media (min-width: 1024px) {
  .restaurants__cards a .restaurants__card {
    width: 100%;
    margin: 1.5rem 0rem;
    height: 280px;
  }
}
.restaurants__cards a .restaurants__card img {
  display: flex;
  width: 100%;
  height: 75%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .restaurants__cards a .restaurants__card img {
    height: 80%;
  }
}
.restaurants__cards a .restaurants__card .new {
  background-color: #99E2D0;
  width: 80px;
  display: flex;
  justify-content: center;
  position: absolute;
  right: 15px;
  top: 20px;
  padding: 3px;
}
.restaurants__cards a .restaurants__card--content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 0.5rem 1rem;
}
.restaurants__cards a .restaurants__card--content h3 {
  margin: 0px;
  padding-bottom: 5px;
}
.restaurants__cards a .restaurants__card--content p {
  margin: 0px;
}

footer {
  background-color: #2b2b2b;
  padding: 0.5rem 0rem;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  footer .container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem 3rem 1rem 1rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .container {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem 3rem 1rem 1rem;
  }
}
footer .container .footer__logo {
  margin: 0.5rem 1rem;
}
footer .container .footer__choice {
  margin: 0px;
  padding: 0.5rem 1rem;
  list-style-type: none;
}
@media (min-width: 1024px) {
  footer .container .footer__choice {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .container .footer__choice {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
}
footer .container .footer__choice .footer__list {
  margin: 3px 0px;
}
footer .container .footer__choice .footer__list i {
  margin-right: 5px;
}
footer .container .footer__choice .footer__list a {
  text-decoration: none;
}

.fa-regular.fa-heart {
  opacity: 1;
  z-index: 2;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.fa-regular.fa-heart:active {
  opacity: 0;
}

.fa-solid.fa-heart {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 2;
  background: linear-gradient(360deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  width: 25px;
  height: 25px;
  right: 16px;
}
.fa-solid.fa-heart:hover {
  opacity: 1;
  transition: all 0.6s linear 0s;
}
.fa-solid.fa-heart:not(:hover) {
  opacity: 0;
  transition: all 0.6s linear 0s;
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.location p {
  font-family: "Roboto";
}

input::placeholder {
  color: black;
  font-family: "Roboto";
  font-size: 17px;
}

.presentation {
  font-family: "Roboto";
  font-size: 17px;
}
.presentation p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
}

.functioning h2 {
  font-family: "Roboto";
}
.functioning p {
  font-family: "Roboto";
}
.functioning i {
  color: #585858;
}
.functioning__list--btn {
  background-color: #f1f1f1;
}
.functioning__list--btn span {
  color: white;
}

.restaurants h2 {
  font-family: "Roboto";
}
.restaurants__cards {
  font-family: "Roboto";
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards span {
  color: #2c7965;
}
.restaurants__card--content h3 {
  font-family: "Roboto";
  font-size: 17px;
}
.restaurants__card--content p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
  font-size: 16px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
}
footer .footer__choice {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
}
footer .footer__list a {
  color: white;
}

/*Restaurant page*/
.restaurant__page .restaurant__main {
  background-color: #f1f1f1;
}
.restaurant__page .restaurant__main .head__restaurant {
  background-color: #f1f1f1;
}

.menu__list h3 {
  font-family: "Roboto";
  font-size: 17px;
  color: #585858;
  font-weight: lighter;
}
.menu__list .menu_cards--title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
.menu__list .menu_cards--subtitle .cards__subtitle {
  font-family: "Roboto";
  color: #585858;
  font-weight: normal;
  font-size: 15px;
}
.menu__list .menu_cards--subtitle .cards__price {
  color: black;
  font-family: "Roboto";
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.location p {
  font-family: "Roboto";
}

input::placeholder {
  color: black;
  font-family: "Roboto";
  font-size: 17px;
}

.presentation {
  font-family: "Roboto";
  font-size: 17px;
}
.presentation p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
}

.functioning h2 {
  font-family: "Roboto";
}
.functioning p {
  font-family: "Roboto";
}
.functioning i {
  color: #585858;
}
.functioning__list--btn {
  background-color: #f1f1f1;
}
.functioning__list--btn span {
  color: white;
}

.restaurants h2 {
  font-family: "Roboto";
}
.restaurants__cards {
  font-family: "Roboto";
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards span {
  color: #2c7965;
}
.restaurants__card--content h3 {
  font-family: "Roboto";
  font-size: 17px;
}
.restaurants__card--content p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
  font-size: 16px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
}
footer .footer__choice {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
}
footer .footer__list a {
  color: white;
}

/*Restaurant page*/
.restaurant__page .restaurant__main {
  background-color: #f1f1f1;
}
.restaurant__page .restaurant__main .head__restaurant {
  background-color: #f1f1f1;
}

.menu__list h3 {
  font-family: "Roboto";
  font-size: 17px;
  color: #585858;
  font-weight: lighter;
}
.menu__list .menu_cards--title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
.menu__list .menu_cards--subtitle .cards__subtitle {
  font-family: "Roboto";
  color: #585858;
  font-weight: normal;
  font-size: 15px;
}
.menu__list .menu_cards--subtitle .cards__price {
  color: black;
  font-family: "Roboto";
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeOut 0.5s 3.5s forwards;
}

.loader::before {
  font-size: 24px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
.loader__content {
  display: block;
  position: relative;
  height: 32px;
  width: 150px;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #9356DC;
  border-radius: 20px;
}

.loader__content:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FF79DA;
  animation: ballbns 3s ease-in-out infinite;
}

@keyframes ballbns {
  0% {
    left: 0;
    transform: translateX(0%);
  }
  49% {
    left: 100%;
    transform: translateX(-100%);
  }
  51% {
    left: 100%;
    transform: translateX(-100%);
  }
  100% {
    left: 0;
    transform: translateX(0%);
  }
}
.presentation__btn {
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.presentation__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.functioning__list--btn {
  transition: transform 0.3s, background-color 0.3s;
}

.functioning__list--btn:hover {
  background-color: #f9f9f9;
  transform: scale(1.1);
}

.restaurants__card {
  transition: 0.3s;
}

.restaurants__card:hover {
  transform: scale(1.05);
}

.fa-regular.fa-heart {
  opacity: 1;
  z-index: 2;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.fa-regular.fa-heart:active {
  opacity: 0;
}

.fa-solid.fa-heart {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 2;
  background: linear-gradient(360deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.fa-solid.fa-heart:hover {
  opacity: 1;
  transition: all 0.3s linear 0s;
}
.fa-solid.fa-heart:not(:hover) {
  opacity: 0;
  transition: all 0.6s linear 0s;
}

.box {
  animation: appear 1s forwards;
  opacity: 0;
}

.first {
  animation-delay: 0.5s;
}

.second {
  animation-delay: 1s;
}

.third {
  animation-delay: 1.5s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
.nav-bar__btn {
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.nav-bar__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

body {
  margin: 0px;
}

.header__logo {
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
}
@media (min-width: 1024px) {
  .header__logo {
    font-size: 35px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__logo {
    font-size: 30px;
  }
}

.logo_and_back {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  .logo_and_back {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo_and_back {
    width: 100%;
  }
}
.logo_and_back a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1024px) {
  .logo_and_back a {
    justify-content: center;
    display: flex;
    width: 5%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo_and_back a {
    justify-content: center;
    display: flex;
    width: 5%;
  }
}
.logo_and_back .header__logo {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .logo_and_back .header__logo {
    width: 95%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo_and_back .header__logo {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .image {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.img_restaurant {
  width: 100%;
  height: 255px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .img_restaurant {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .img_restaurant {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .restaurant__page {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page {
    display: flex;
    justify-content: center;
  }
}
.restaurant__page .restaurant__main h2 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}
@media (min-width: 1024px) {
  .restaurant__page .restaurant__main {
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .restaurant__main {
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.restaurant__page .head__restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background-color: white;
  position: relative;
  bottom: 35px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .restaurant__page .head__restaurant {
    justify-content: center;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .head__restaurant {
    justify-content: center;
    width: 100%;
  }
}
.restaurant__page .head__restaurant .restaurants__icon {
  padding: 2px;
}
@media (min-width: 1024px) {
  .restaurant__page .head__restaurant .restaurants__icon {
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .head__restaurant .restaurants__icon {
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .restaurant__page .head__restaurant .restaurants__icon .fa-regular,
  .restaurant__page .head__restaurant .restaurants__icon .fa-solid {
    padding-left: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .head__restaurant .restaurants__icon .fa-regular,
  .restaurant__page .head__restaurant .restaurants__icon .fa-solid {
    padding-left: 20px;
  }
}
.restaurant__page .menu {
  position: relative;
  top: -2rem;
}
@media (min-width: 1024px) {
  .restaurant__page .menu {
    justify-content: center;
    width: 65%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .menu {
    justify-content: center;
    width: 65%;
  }
}
.restaurant__page .menu__list {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.restaurant__page .menu__list h3 {
  margin: 1rem 0.5rem;
}
.restaurant__page .menu__list h3 span {
  border-bottom: solid 0.2rem #99E2D0;
  padding-bottom: 0.5rem;
}
.restaurant__page .menu__list .menu_cards {
  display: flex;
  border: none;
  background-color: #f9f9f9;
  width: 95%;
  border-radius: 17px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 0.5rem 0rem;
}
.restaurant__page .menu__list .menu_cards .menu_cards--content {
  width: 100%;
}
.restaurant__page .menu__list .menu_cards--title {
  padding-left: 1rem;
  padding-top: 0.7rem;
}
.restaurant__page .menu__list .menu_cards--title p {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
}
.restaurant__page .menu__list .menu_cards--subtitle {
  display: flex;
  padding-left: 1rem;
  padding-bottom: 0.7rem;
  justify-content: space-between;
  align-items: center;
}
.restaurant__page .menu__list .menu_cards--subtitle .cards__subtitle {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.restaurant__page .menu__list .menu_cards--subtitle .cards__price {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-right: 1rem;
  font-weight: bold;
  font-family: "Roboto";
}
.restaurant__page .menu__list .menu_cards .fa-solid.fa-circle-check {
  color: white;
  font-size: 30px;
}
.restaurant__page .menu_cards .menu_cards--content {
  width: 100%;
  padding-left: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__page .menu_cards .menu_cards--content .menu_cards--title p,
.restaurant__page .menu_cards .menu_cards--content .cards__subtitle,
.restaurant__page .menu_cards .menu_cards--content h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__page .menu_cards .menucheck {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  width: 0px;
  border-radius: 0px 15px 15px 0px;
  transition: all 500ms;
  opacity: 0;
}
.restaurant__page .menu_cards:hover .menucheck {
  width: 75px;
  transition: all 500ms;
  opacity: 1;
}
.restaurant__page .menu_cards:hover .menu_cards--content {
  transition: all 500ms;
}
.restaurant__page .nav-bar__button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
}
.restaurant__page .nav-bar__button .nav-bar__btn {
  font-family: "Roboto";
  width: 125px;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
}

footer {
  background-color: #2b2b2b;
  padding: 0.5rem 0rem;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer {
    display: flex;
    justify-content: flex-end;
  }
}
@media (min-width: 1024px) {
  footer .container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem 3rem 1rem 1rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .container {
    width: 70%;
    display: flex;
    flex-direction: row-reverse;
    padding: 3rem 3rem 1rem 1rem;
  }
}
footer .container .footer__logo {
  margin: 0.5rem 1rem;
}
footer .container .footer__choice {
  margin: 0px;
  padding: 0.5rem 1rem;
  list-style-type: none;
}
@media (min-width: 1024px) {
  footer .container .footer__choice {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  footer .container .footer__choice {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
}
footer .container .footer__choice .footer__list {
  margin: 3px 0px;
}
footer .container .footer__choice .footer__list i {
  margin-right: 5px;
}
footer .container .footer__choice .footer__list a {
  text-decoration: none;
}

.card__btn {
  display: flex;
  align-items: center;
  position: relative;
  right: 30px;
}
@media (min-width: 1024px) {
  .card__btn {
    position: relative;
    right: -30px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card__btn {
    position: relative;
    right: -30px;
  }
}

h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.location p {
  font-family: "Roboto";
}

input::placeholder {
  color: black;
  font-family: "Roboto";
  font-size: 17px;
}

.presentation {
  font-family: "Roboto";
  font-size: 17px;
}
.presentation p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
}

.functioning h2 {
  font-family: "Roboto";
}
.functioning p {
  font-family: "Roboto";
}
.functioning i {
  color: #585858;
}
.functioning__list--btn {
  background-color: #f1f1f1;
}
.functioning__list--btn span {
  color: white;
}

.restaurants h2 {
  font-family: "Roboto";
}
.restaurants__cards {
  font-family: "Roboto";
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards span {
  color: #2c7965;
}
.restaurants__card--content h3 {
  font-family: "Roboto";
  font-size: 17px;
}
.restaurants__card--content p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
  font-size: 16px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  color: white;
}
footer .footer__choice {
  color: white;
  font-family: "Roboto";
  font-size: 16px;
}
footer .footer__list a {
  color: white;
}

/*Restaurant page*/
.restaurant__page .restaurant__main {
  background-color: #f1f1f1;
}
.restaurant__page .restaurant__main .head__restaurant {
  background-color: #f1f1f1;
}

.menu__list h3 {
  font-family: "Roboto";
  font-size: 17px;
  color: #585858;
  font-weight: lighter;
}
.menu__list .menu_cards--title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
.menu__list .menu_cards--subtitle .cards__subtitle {
  font-family: "Roboto";
  color: #585858;
  font-weight: normal;
  font-size: 15px;
}
.menu__list .menu_cards--subtitle .cards__price {
  color: black;
  font-family: "Roboto";
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  animation: fadeOut 0.5s 3.5s forwards;
}

.loader::before {
  font-size: 24px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
  }
}
.loader__content {
  display: block;
  position: relative;
  height: 32px;
  width: 150px;
  box-sizing: border-box;
  overflow: hidden;
  border: 2px solid #9356DC;
  border-radius: 20px;
}

.loader__content:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #FF79DA;
  animation: ballbns 3s ease-in-out infinite;
}

@keyframes ballbns {
  0% {
    left: 0;
    transform: translateX(0%);
  }
  49% {
    left: 100%;
    transform: translateX(-100%);
  }
  51% {
    left: 100%;
    transform: translateX(-100%);
  }
  100% {
    left: 0;
    transform: translateX(0%);
  }
}
.presentation__btn {
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.presentation__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.functioning__list--btn {
  transition: transform 0.3s, background-color 0.3s;
}

.functioning__list--btn:hover {
  background-color: #f9f9f9;
  transform: scale(1.1);
}

.restaurants__card {
  transition: 0.3s;
}

.restaurants__card:hover {
  transform: scale(1.05);
}

.fa-regular.fa-heart {
  opacity: 1;
  z-index: 2;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.fa-regular.fa-heart:active {
  opacity: 0;
}

.fa-solid.fa-heart {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  z-index: 2;
  background: linear-gradient(360deg, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.fa-solid.fa-heart:hover {
  opacity: 1;
  transition: all 0.3s linear 0s;
}
.fa-solid.fa-heart:not(:hover) {
  opacity: 0;
  transition: all 0.6s linear 0s;
}

.box {
  animation: appear 1s forwards;
  opacity: 0;
}

.first {
  animation-delay: 0.5s;
}

.second {
  animation-delay: 1s;
}

.third {
  animation-delay: 1.5s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
.nav-bar__btn {
  transition: 0.3s;
  opacity: 1;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.nav-bar__btn:hover {
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}