h1 {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
}

.location p {
  font-family: "Roboto";
}

input::placeholder {
  color: black;
  font-family: "Roboto";
  font-size: 17px;
}

.presentation {
  font-family: "Roboto";
  font-size: 17px;
}
.presentation p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
}

.functioning h2 {
  font-family: "Roboto";
}
.functioning p {
  font-family: "Roboto";
}
.functioning i {
  color: #585858;
}
.functioning__list--btn {
  background-color: #f1f1f1;
}
.functioning__list--btn span {
  color: white;
}

.restaurants h2 {
  font-family: "Roboto";
}
.restaurants__cards {
  font-family: "Roboto";
}
.restaurants__cards a {
  text-decoration: none;
  color: black;
}
.restaurants__cards span {
  color: #2c7965;
}
.restaurants__card--content h3 {
  font-family: "Roboto";
  font-size: 17px;
}
.restaurants__card--content p {
  font-weight: lighter;
  color: rgb(88, 88, 88);
  font-size: 16px;
}

footer .footer__logo {
  font-family: "Shrikhand", cursive;
  font-size: 15px;
  color: white;
}
footer .footer__choice {
  color: white;
  font-family: "Roboto";
  font-size: 12px;
}
footer .footer__list a {
  color: white;
}

/*Restaurant page*/
.restaurant__page .restaurant__main {
  background-color: #f1f1f1;
}
.restaurant__page .restaurant__main .head__restaurant {
  background-color: #f1f1f1;
}

.menu__list h4 {
  font-family: "Roboto";
  color: #585858;
  font-weight: lighter;
}
.menu__list .menu_cards--title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
}
.menu__list .menu_cards--subtitle .cards__subtitle {
  font-family: "Roboto";
  color: #585858;
  font-weight: normal;
  font-size: 15px;
}
.menu__list .menu_cards--subtitle .cards__price {
  color: black;
}

body {
  margin: 0px;
}

.logo_and_back {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
@media (min-width: 1024px) {
  .logo_and_back {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo_and_back {
    width: 100%;
  }
}
.logo_and_back a {
  text-decoration: none;
  color: inherit;
}
@media (min-width: 1024px) {
  .logo_and_back a {
    justify-content: center;
    display: flex;
    width: 5%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo_and_back a {
    justify-content: center;
    display: flex;
    width: 5%;
  }
}
.logo_and_back .header__logo {
  margin: 1rem;
}
@media (min-width: 1024px) {
  .logo_and_back .header__logo {
    width: 95%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .logo_and_back .header__logo {
    width: 95%;
  }
}

@media (min-width: 1024px) {
  .image {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.img_restaurant {
  width: 100%;
  height: 255px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .img_restaurant {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .img_restaurant {
    height: 400px;
  }
}

@media (min-width: 1024px) {
  .restaurant__page {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .restaurant__page .restaurant__main {
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .restaurant__main {
    width: 70%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.restaurant__page .head__restaurant {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1.5rem 1.5rem 0rem 0rem;
  background-color: white;
  position: relative;
  bottom: 35px;
  z-index: 2;
}
@media (min-width: 1024px) {
  .restaurant__page .head__restaurant {
    justify-content: center;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .head__restaurant {
    justify-content: center;
    width: 100%;
  }
}
.restaurant__page .head__restaurant .restaurants__icon {
  padding: 2px;
}
@media (min-width: 1024px) {
  .restaurant__page .head__restaurant .restaurants__icon {
    justify-content: center;
    padding: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .head__restaurant .restaurants__icon {
    justify-content: center;
    padding: 25px;
  }
}
.restaurant__page .head__restaurant .restaurants__icon:active {
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  color: transparent;
}
.restaurant__page .head__restaurant .fa-regular.fa-heart.fa-xl:active {
  font-weight: 900;
}
.restaurant__page .menu {
  position: relative;
  top: -2rem;
}
@media (min-width: 1024px) {
  .restaurant__page .menu {
    justify-content: center;
    width: 65%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__page .menu {
    justify-content: center;
    width: 65%;
  }
}
.restaurant__page .menu__list {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.restaurant__page .menu__list h4 {
  margin: 1rem 0.5rem;
}
.restaurant__page .menu__list h4 span {
  border-bottom: solid 0.2rem #99E2D0;
  padding-bottom: 0.5rem;
}
.restaurant__page .menu__list .menu_cards {
  border: none;
  background-color: #f9f9f9;
  width: 95%;
  border-radius: 15px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  margin: 0.5rem 0rem;
}
.restaurant__page .menu__list .menu_cards--title {
  padding-left: 1rem;
  padding-top: 0.7rem;
}
.restaurant__page .menu__list .menu_cards--title p {
  margin-top: 0rem;
  margin-bottom: 0.2rem;
}
.restaurant__page .menu__list .menu_cards--subtitle {
  display: flex;
  padding-left: 1rem;
  padding-bottom: 0.7rem;
  justify-content: space-between;
  align-items: center;
}
.restaurant__page .menu__list .menu_cards--subtitle .cards__subtitle {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.restaurant__page .menu__list .menu_cards--subtitle .cards__price {
  margin-top: 0rem;
  margin-bottom: 0rem;
  padding-right: 1rem;
}
.restaurant__page .menu__list .menu_cards .menucheck {
  background: #99e2d0;
  cursor: pointer;
  height: auto;
  width: 0;
  opacity: 0;
  border-radius: 0 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.restaurant__page .nav-bar__button {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding-bottom: 2.5rem;
}
.restaurant__page .nav-bar__button .nav-bar__btn {
  width: 125px;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 30px;
}