// variables (couleurs, polices, etc.)

$primary-color: #9356DC;
$second-color: #FF79DA;
$third-color: #99E2D0;
$forth-color: #585858;
$bg-color1: #f1f1f1;
$bg-color2: #f9f9f9;
$bg-color3: #2b2b2b;
$span-color: #2c7965;

h1 {
    font-family: "Shrikhand", cursive;
    font-size: 27px;
}

.location p {
    font-family: "Roboto";
}

input::placeholder {
    color: black;
    font-family: "Roboto";
    font-size: 17px;
}

.presentation {
    font-family: "Roboto";
    font-size: 17px;

    p {
        font-weight: lighter;
        color: rgb(88, 88, 88);
    }

}

.functioning {
    h2 {
        font-family: "Roboto";
    }

    p {
        font-family: "Roboto";

    }

    i {
        color: $forth-color;
    }

    &__list--btn {
        background-color: $bg-color1;

        span {
            color: white;
        }
    }
}

.restaurants {

    h2 {
        font-family: "Roboto";
    }

    &__cards {
        font-family: "Roboto";

        a {
            text-decoration: none;
            color: black;
        }

        span {
            color: $span-color;
        }
    }

    &__card--content {
        h3 {
            font-family: "Roboto";
            font-size: 17px;
        }

        p {
            font-weight: lighter;
            color: rgb(88, 88, 88);
            font-size: 16px;
        }
    }

}

footer {
    .footer__logo {
        font-family: "Shrikhand", cursive;
        font-size: 18px;
        color: white;
    }

    .footer__choice {
        color: white;
        font-family: "Roboto";
        font-size: 16px;
    }

    .footer__list {
        a {
            color: white;
        }

    }
}

/*Restaurant page*/

.restaurant__page {
    & .restaurant__main {
        background-color: $bg-color1;

        & .head__restaurant {
            background-color: $bg-color1;
        }
    }
}

.menu__list {
    h3 {
        font-family: "Roboto";
        font-size: 17px;
        color: $forth-color;
        font-weight: lighter;
    }

    & .menu_cards--title {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 16px;
    }

    & .menu_cards--subtitle {

        & .cards__subtitle {
            font-family: "Roboto";
            color: $forth-color;
            font-weight: normal;
            font-size: 15px;
        }

        & .cards__price {
            color: black;
        }
    }
}